- content_for :head do
  :javascript
    window.PAYMENT_CONFIG = {
      STRIPE_PUBLIC_KEY: "#{ENV.fetch("STRIPE_PUBLIC_KEY")}",
      INTENT_CLIENT_SECRET: "#{@intent.client_secret}",
      PERMALINK: "#{@order.permalink}",
      BILLING_DETAILS_HASH: #{@order.billing_details_hash.to_json.html_safe}
    };
  %script{:type => "text/javascript", :src  => "https://js.stripe.com/v3/"}
  = javascript_include_tag "payment"

%h1 Payment

- if notice
  .alert.alert-success.my-3
    = notice

.card.mb-3
  .card-header
    Order Info
  .card-body
    %p
      %strong Email address:
      = @order.email_address
    %p
      %strong First name:
      = @order.first_name
    %p
      %strong Last name:
      = @order.last_name
    %p
      %strong Country:
      = ISO3166::Country[@order.country].to_s
    %p
      %strong Price:
      = @order.price.format
    %p
      %strong Number:
      = @order.number
    %p
      %strong Permalink:
      = @order.permalink

.card.mb-3
  .card-header
    Card Details
  .card-body
    .payment
      #card-element
      #card-errors.text-danger.mt-1

%button#pay.btn.btn-danger
  Pay
  = @order.price.format
